/*---=== Landing-Section Style ===---*/
section#landing-section {
    min-height: 500px;
}
.container.glossy-bg-wrapper {
    padding: 60px 0;
}
.glossy-bg {
    background-image: url(../images/translucent-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* fill: linear-gradient(270deg, rgba(255, 255, 255, 0.06) 0.06%, rgba(255, 255, 255, 0.06) 99.84%);
    stroke-width: 1px;
    stroke: #EDEDED;*/
    backdrop-filter: blur(12px);
    color: white;
    padding: 34px;
    max-width: 1250px;
    border-radius: 20px;
    /* overflow: hidden; */
    position: relative;
}
.landing-section-title-desc {
    font-size: 18px;
}
.landing-section-title {
    margin: 5px 0 0;
    font-size: 64px;
    font-weight: 400;
    font-family: var(--font);
    letter-spacing: -1.28px;
}
.tab-buttons {
    margin-bottom: 40px;
}
.tab-buttons button {
    font-family: var(--font2);
    font-size: 17px;
    font-weight: 500;
    padding: 0 20px;
    border-radius: 10px;
    height: 50px;
}
.tab-buttons button.active {
    border-bottom: 1px solid #B2E5E2;
    background: var(--pry-color);
}
/* .tab-form-wrapper form {} */
.tab-form-wrapper .input-field-wrapper {
    border-radius: 20px 0px 0px 20px;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px 5px 20px 20px;
}
.tab-form-btn-wrapper {
    padding: 0 20px 20px 10px;
}
button.tab-form-btn {
    border-radius: 10px;
    border: 1px solid #66CAC4;
    background: var(--pry-color);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    height: 85px;
    width: 258px;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
button.tab-form-btn.tfb-2 {
    border: 1px solid #FFF;
    background-color: transparent;
    margin-bottom: 10px;
}
button.tab-form-btn img {
    width: 18px;
}
.input-white-wrapper {
    border-radius: 10px;
    border: 1px solid #B2E5E2;
    background: #ffffff;
    width: 216px;
    height: 85px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.input-white-wrapper.flex-row {
    flex-direction: row;
}
.input-white-wrapper.long-inp-wrapper {
    width: 442px;
}
.input-white-wrapper.medium-inp-wrapper {
    width: 330px;
}
input.ls-inp-field {
    height: 31px !important;
    border: none !important;
    font-size: 24px !important;
    color: var(--sec-color) !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
}
.input-white-wrapper .ant-picker {
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
}
.input-white-wrapper .ant-picker-input input {
    height: 31px !important;
    border: none !important;
    font-size: 24px !important;
    color: var(--sec-color) !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
}
.input-white-wrapper .ant-picker-input span.ant-picker-suffix {
    display: none;
}
.input-white-wrapper .select-wrapper input.select-dropdown {
    height: 31px !important;
    border: none !important;
    font-size: 24px !important;
    color: var(--sec-color) !important;
}
img.transfer-arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.datepicker-table {
    color: var(--sec-color);
}
.select-field-wrapper svg.caret {
    display: none;
}
.select-field-wrapper svg.caret-icon {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 1;
}
.select-field-wrapper input.select-dropdown {
    box-sizing: border-box !important;
    border-radius: 10px !important;
    border: 1px solid #FFF !important;
    background: rgba(229, 246, 245, 0.20) !important;
    height: 50px !important;
    width: 160px !important;
    padding: 0px 20px !important;
}
.purpose-radio-wrapper {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    padding: 10px 15px 10px 12px;
    height: 50px;
}
.purpose-wrapper [type="radio"]:not(:checked)+span:before, 
.purpose-wrapper [type="radio"]:not(:checked)+span:after,
.purpose-wrapper [type="radio"].with-gap:checked+span:before {
    background: white;
}
.purpose-wrapper [type="radio"]:not(:checked)+span, 
.purpose-wrapper [type="radio"]:checked+span {
    padding-left: 30px;
}
.purpose-wrapper [type="radio"]:checked+span:after {
    background-color: var(--pry-color);
}

.search-dropdown-wrapper {
    background-color: transparent;
    width: 100%;
    z-index: 1;
}
.search-dropdown-wrapper ul {
    box-shadow: 0px 24px 20px 0px rgba(16, 24, 40, 0.08);
    border-radius: 10px;
    overflow: auto;
    background-color: white;
    max-height: 150px;
}
.search-dropdown-wrapper ul li {
    cursor: pointer;
    font-size: 14px;
}
.search-dropdown-wrapper ul li:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.ant-picker-cell {
    text-align: center;
}
.ant-picker-cell.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: var(--pry-color) !important;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: var(--pry-color) !important;
}
.ant-picker-dropdown .ant-picker-header-view button:hover {
    color: var(--pry-color);
}

.passenger-selector svg {
    transition: transform 0.5s;
}
.passenger-selector .toggleOpen svg {
    transform: rotate(180deg);
}
.tab-form-wrapper .dropdown-content {
    top: 60px !important;
    border-radius: 8px;
}

@media(max-width: 992px) {
    .glossy-bg {
        background-image: url(../images/translucent-bg-mobile.png);
    }
    .tab-buttons.flex-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .tab-form-wrapper .input-field-wrapper {
        border-radius: 20px;
        padding: 20px;
        width: 100%;
    }
    form.search-inputs {
        flex-direction: column;
        gap: 30px;
    }
    form.search-inputs .grid-sm-break {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .input-white-wrapper, button.tab-form-btn, .tab-form-btn-wrapper {
        width: 100%;
    }
    .input-white-wrapper.medium-inp-wrapper, .input-white-wrapper.long-inp-wrapper {
        width: 100%;
    }
    .purpose-wrapper.flex-div {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width: 600px) {
    .glossy-bg-wrapper.container {
        width: 100%;
    }
    .landing-section-title {
        font-size: 40px;
        letter-spacing: -1px;
    }
    .tab-buttons button {
        justify-content: center;
        height: auto;
        padding: 10px 20px;
    }
    .select-field-wrapper input.select-dropdown {
        width: 100% !important;
    }
    form.search-inputs .grid-sm-break {
        gap: 10px;
    }
    form.search-inputs .grid-sm-break > .flex-div.gap-3 {
        flex-direction: column;
        gap: 10px;
    }
    .input-white-wrapper {
        height: 75px;
        padding: 12px 20px;
    }
}
/*---=== end of Landing-Section Style ===---*/

/*---=== Trending Flights-Section Style ===---*/
section#trending-flights {
    padding: 50px 0 30px;
}
.section-header {
    margin-bottom: 40px;
}
h2.section-title {
    font-size: 64px; 
    line-height: 77px;
    letter-spacing: -1.28px;
    margin: 0;
}
p.section-title-desc {
    color: #0A0A0A;
    font-size: 24px;
    letter-spacing: -0.48px;
}
.flight-deals-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px auto;
}
.flight-deals-card {
    padding: 50px 30px;
    color: var(--sec-color);
    font-size: 18px;
    line-height: 26px;
    background-color: #f9f9f9;
    position: relative;
}
.flight-deals-card > * {
    position: relative;
    z-index: 1;
}
.flight-deals-card:nth-child(even) {
    background-color: rgba(102, 202, 196, 0.4);
    color: #0A0A0A;
}
.flight-deals-card:nth-child(even)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(229, 246, 245, 0.05);
}
.city-short-name {
    color: #141414;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.64px;
}
.airline {
    color: #141414;
}
.airline img {
    width: 30px;
}
.flight-price-btn-wrapper {
    width: 100%;
    max-width: 300px;
}
a.flight-price-btn {
    height: 44px;
    width: 100%;
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid rgba(63, 46, 177, 0.20);
    background: #141414;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: white;
    font-size: 14px;
}
.flight-deals-card:nth-child(even) a.flight-price-btn {
    border: 1px solid #66CAC4;
    background: #00A79D;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.flight-deals-card:nth-child(even) svg.flight-icon path:first-child {
    fill: #66CAC4;
}
.flight-deals-card:nth-child(even) svg.flight-icon path:last-child {
    fill: #00A79D;
}

@media(max-width: 992px) {
    .flight-deals-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 600px) {
    .flight-deals-wrapper {
        grid-template-columns: 100%;
    }
    h2.section-title {
        font-size: 52px;
        line-height: 54px;
    }
}
/*---=== end of Trending Flights-Section Style ===---*/

/*---=== Book-Now-Explore Style ===---*/
section#book-now-explore {
    padding: 50px 0;
}
.bne-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.bne-block {
    position: relative;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding-top: 75%;
}
.bne-block.bne-book-now {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(../images/guy-in-uber.jpeg), lightgray 50% / cover no-repeat;
}
.bne-block.bne-explore {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(../images/camel.jpeg), lightgray 50% / cover no-repeat;
}
.bne-block-txt {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-60%);
    font-size: 44px;
    font-family: var(--font-bold);
    line-height: 52px;
    letter-spacing: -0.8px;
}
.bne-block-txt a {
    font-size: 14px;
    width: 240px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #66CAC4;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--sec-color);
    justify-content: center;
    margin-top: 22px;
}

@media(max-width: 992px) {
    .bne-block-txt {
        font-size: 34px;
    }
}

@media(max-width: 600px) {
    .bne-wrapper {
        grid-template-columns: 100%;
    }
}
/*---=== end of Book-Now-Explore Style ===---*/