/* Navbar Section */
nav.main-nav{
    position: fixed;
    background-color: #F3F3F3;
    width: 100%;
    box-shadow: none;
    height: 90px;
    z-index: 10;
    font-family: var(--font-light);
    top: 0;
}
.main-nav .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
nav ul a:hover {
    background-color: transparent;
}
nav.main-nav ul a{
    font-size: 18px;
}
nav.scrolled-nav.main-nav{
    height: 65px;
    background-color: rgba(241, 241, 241, 0.9);
}
nav.main-nav ul > li > a{
    color: var(--pry-color);
}
ul#nav-mobile > li > a {
    padding: 0 20px;
    border-right: 1px solid var(--sec-color);
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}
nav.main-nav ul > li > a:hover {
    background-color: rgba(0, 168, 157, 0.05);
}
nav .brand-logo {
    top: 2px;
}
a.brand-logo img {
    width: 120px;
    position: relative;
    top: 2px;
}
nav.scrolled-nav .brand-logo {
    top: 7px;
}
button.nav-pry-btn.btn, a.nav-pry-btn.btn, 
button.nav-pry-btn-2.btn, a.nav-pry-btn-2.btn {
    font-size: 10px;
    border-radius: 0;
    min-width: 100px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    font-family: var(--font);
    border: 1px solid var(--pry-color);
    transition: all 1.5ms;
}
button.nav-pry-btn.btn, a.nav-pry-btn.btn {
    background: var(--pry-color);
    color: white;
}
button.nav-pry-btn-2.btn, a.nav-pry-btn-2.btn {
    background-color: white;
    color: var(--pry-color);
}
button.nav-pry-btn.btn:hover, a.nav-pry-btn.btn:hover {
    background-color: var(--sec-color);
}
button.nav-pry-btn-2.btn:hover, a.nav-pry-btn-2.btn:hover {
    color: var(--sec-color);
    border: 1px solid var(--sec-color);
}

button.nav-pry-btn.btn img {
    top: 5px;
    position: relative;
    margin-left: 5px;
}
nav button.nav-pry-btn.btn{
    margin-bottom: 0;
}
/* #nav-mobile li:last-child a:hover{
    background-color: transparent;
} */
nav.scrolled-nav ul a{
    color: var(--sec-color);
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
nav .brand-logo {
    position: relative;
}

button.menu-user-btn {
    width: 105px;
    height: 50px;
    background: var(--pry-color);
    justify-content: center;
    gap: 10px;
    border: 1px solid #CCEDEB;
    border-radius: 10px;
}
ul#company-dropdown {
    border-radius: 8px;
}
ul#company-dropdown li {
    border-bottom: 1px solid #CCEDEB;
}
ul#company-dropdown li:last-child {
    border-bottom: none;
}
ul#company-dropdown li a div {
    color: #606161;
    font-size: 24px;
}
ul#company-dropdown li a small {
    color: #9D9D9D;
    font-size: 12px;
}
ul.dropdown-content li a {
    font-size: 14px;
    font-weight: 500;
}

ul.dropdown-content.menu-dropdown {
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
}
ul.dropdown-content.menu-dropdown hr.divider {
    border: none;
    height: 1px;
    background-color: var(--pry-color);
    width: 100%;
}
/* ul.dropdown-content.menu-dropdown li:hover {
    border: 1px solid #B2E5E2;
    background-color: #EDEDED;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
} */
 ul.dropdown-content.menu-dropdown li:hover {
    border-radius: 4px;
    overflow: hidden;
 }
ul.dropdown-content.menu-dropdown li a {
    color: #606161;
}


@media(min-width: 993px) {}
@media(min-width: 601px) {
    ul.dropdown-content.menu-dropdown {
        min-width: 200px;
    }
    ul.dropdown-content.menu-dropdown li a {
        font-size: 16px;
    }
}
@media(max-width: 992px) {    
    nav .brand-logo {
        left: 0;
        transform: none;
    }
    a.brand-logo img {
        width: 140px;
        top: 0;
    }
    .dn-mobile {
        /* display: block; */
        display: flex;
        align-items: center;
    }
    .dn-mobile a.nav-pry-btn-2.btn.pointer{
        display: flex;
        position: relative;
        top: 4px;
    }
    .dn-mobile a.nav-pry-btn-2.btn.pointer i.material-icons {
        font-size: 20px;
        padding-right: 5px;
    }
    nav .sidenav-trigger {
        top: 0;
        padding-right: 0;
        height: auto;
    }
    .sidenav button.nav-pry-btn-2.btn {
        width: 100%;
    }
    .sidenav li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    .sidenav li:nth-child(2) {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    .sidenav li.hire-us-li {
        position: absolute;
        width: 80%;
        left: 10%;
        bottom: 80px;
        border-bottom: none;
    }
    .sidenav li.hire-us-li.hul-1 {
        bottom: 135px;
    }
    .sidenav li.hire-us-li.hul-2 {
        width: 100%;
        left: 0;
    }
}
@media(max-width: 600px) {
    nav.main-nav {
        height: 80px;
    }
    a.brand-logo img {
        width: auto;
        height: 50px;
        top: 0;
    }
}
@media (max-width: 360px) {
    a.brand-logo img {
        width: 90%;
    }
}
@media (max-width: 320px) {
    a.brand-logo img {
        width: 70%;
    }
}
/* end of Navbar Section */