/*---=== Search-Results Section ===---*/
.top-snack-bar {
    font-size: 24px;
    padding: 10px;
    background: #000;
    border-radius: 10px;
    width: fit-content;
}
.loading-spinner-wrapper .loading-spinner {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}
.loading-spinner-wrapper .loading-spinner svg {
    width: 100px;
    height: 100px;
}

section#cheap-flights {
    padding: 60px 0 40px;
}
.cheap-flight-block {
    padding: 10px;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* cursor: pointer; */
    font-size: 15px;
}
.cheap-flight-block.active {
    border: 3px solid #9D9D9D;
}
.results-section .custom-nav-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(0, 167, 157, 0.30);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    cursor: pointer;
}
.results-section .custom-nav-icon.custom-prev  {
    left: -25px;
}
.results-section .custom-nav-icon.custom-next {
    right: -25px;
}
/* .results-section .swiper-slide {
    width: 100% !important;
} */


section#flight-stops {
    position: relative;
}
section#flight-stops .mySwiper {
    background-color: #EDEDED;
    padding: 10px;
}
.stop-block {
    background: white;
    height: 100%;
    border-radius: 5px;
}
.sb-top-side {
    padding: 10px 20px;
    height: 120px;
    color: #141414;
    font-size: 16px;
}
.sb-top-side > img {
    margin: 0 auto 10px;
}
ul.sb-contents {
    font-size: 12px;
}
ul.sb-contents li {
    border-top: 1px solid #848484;
    padding: 8px 15px;
}
ul.sb-contents li.active {
    border: 1px solid;
    font-weight: bold;
}


section#sort-flights {
    position: relative;
    padding: 30px 0 10px;
}
.sort-bar {
    background: black;
    color: white;
    padding: 10px 0;
}
.sort-bar .flex-div {
    gap: 20px;
}
.sort-tabs-wrapper {
    font-size: 14px;
}
.sort-tabs-wrapper li {
    padding: 8px 16px;
    cursor: pointer;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sort-tabs-wrapper li.active {
    background-color: var(--pry-color);
    border-radius: 8px;
    font-weight: bold;
}

/*---=== Ticket-Labels ===---*/
.ticket-labels {
    border-radius: 20px;
    padding: 6px 12px;
    font-size: 14px;
}
.ticket-labels.flex-div {
    gap: 10px;
}
.ticket-labels.flex-div:not(.tl-2) {
    border: 1px solid rgba(10, 10, 10, 0.08);
    background-color: #f9f9f9;
}
/*---=== end of Ticket-Labels ===---*/

/*---=== Ticket-Overview-Block ===---*/
.ticket-overview-block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* border: 1px solid #CCEDEB; */
    background-color: white;
    backdrop-filter: blur(24px);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.ticket-overview-block .flex-div {
    flex-wrap: wrap;
}
.ticket-overview-block .left-side {
    padding: 20px 0;
    padding-left: 12px;
    overflow: hidden;
}
.ticket-overview-block .right-side {
    background: rgba(10, 10, 10, 0.08);
}
.ticket-labels-wrapper {
    padding: 0 20px;
}
.ticket-overview-content {
    margin: 15px 0;
    font-size: 14px;
}
.tc-row-wrapper {
    background: #f3f3f3;
    padding: 24px 36px 24px 20px;
    border-radius: 20px 0 0 20px;
}
.toc-row:not(:first-child) {
    border-top: 1px solid rgba(10, 10, 10, 0.08);
    margin-top: 15px;
    padding-top: 15px;
}
.ticket-airline {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    color: #000000;
    gap: 6px;
    flex-grow: 1;
}
.ticket-airline img {
    width: 70px;
}
.ticket-from-to.flex-div {
    flex-grow: 8;
    justify-content: space-between;
}
.ticket-time {
    font-size: 24px;
}
.ticket-state-code {
    font-size: 36px;
    font-family: var(--font-bold);
    color: black;
}
.ticket-state {
    font-size: 15px;
}
.from-to-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.ticket-amount-wrapper {
    width: 80%;
    margin: auto;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}
.ticket-amount {
    font-size: 34px;
    color: #606161;
}
button.view-ticket-btn {
    background: #141414;
    color: white;
    justify-content: center;
    width: 100%;
    height: 59px;
    border-radius: 8px;
    gap: 10px;
    font-size: 18px;
}
.cup-curves {
    background: #F3F3F3;
    width: 50px;
    height: 50px;
    /* border: 1px solid #CCEDEB; */
    border-radius: 50%;
    position: absolute;
    left: -25px;
}
.cup-curves.up-curve {
    top: -25px;
}
.cup-curves.down-curve {
    bottom: -25px;
}
.other-tickets-overview-wrapper .show-more-wrapper button {
    color: white;
    background-color: var(--pry-color) !important;
    width: 209px;
    height: 58px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: auto;
}
.ticket-left-label {
    position: absolute;
    top: 20px;
    right: 10%;
}

@media(min-width: 993px) {
    .ticket-airline {
        max-width: 140px;
    }
}

/*---=== end of Ticket-Overview-Block ===---*/

/*---=== Side-Pop-Up ===---*/
.side-popup {
    position: fixed;
    width: 100%;
    max-width: 480px;
    height: 100vh;
    top: 0;
    right: 0;
    background: white;
    z-index: 100;
    padding: 20px 20px 20px 40px;
    /* display: none; */
    overflow-y: auto;
}
.side-popup[data-ticket-type="multiple"] {
    max-width: 720px;
}
.side-popup-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    /* display: none; */
}
.open .side-popup, .open .side-popup-overlay {
    display: block;
}
img.close-popup-icon {
    cursor: pointer;
}
.ticket-items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
}
.ticket-amount-div h2 {
    font-size: 34px;
    color: #141414;
    margin: 0;
    letter-spacing: -1px;
}
.ticket-amount-div span {
    font-size: 14px;
}
.tickets-wrapper {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}
.tickets-block {
    background-color: #F6F6F6;
    backdrop-filter: blur(5px);
    padding: 15px 30px;
    min-width: 415px;
    width: 415px;
    border-radius: 20px;
    min-height: 100%;
}
.ticket-item-title {
    font-size: 22px;
    color: #141414;
}
.ticket-item-content.flex-div {
    font-size: 16px;
    margin-top: 5px;
}
.tickets-bottom-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px dashed;
    position: relative;
}
.tickets-bottom-side [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after,
.tickets-bottom-side [type="checkbox"].filled-in:checked+span:not(.lever):after {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    top: 4px;
}
.tickets-bottom-side [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    border: 1px solid #d0d5dd;
}
.tickets-bottom-side [type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 3px;
    width: 6px;
    height: 11px;
}
.tickets-bottom-side [type="checkbox"]+span:not(.lever) {
    padding-left: 24px;
}
button.select-ticket-btn {
    color: white;
    width: 100%;
    height: 58px;
    background: var(--pry-color);
    font-size: 18px;
    border-radius: 10px;
}
button.select-ticket-btn.stb-2 {
    background-color: #E5F6F5;
    color: var(--pry-color);
    border: 1px solid var(--pry-color);
}
.tickets-block .cup-curves {
    background: white;
    top: -25px;
}
.tickets-block .cup-curves.left-curve {
    left: -50px;
}
.tickets-block .cup-curves.right-curve {
    right: -50px;
    left: initial;
}
.spf-note-2.flex-div {
    gap: 5px;
    padding: 10px;
    background: #F9F9F9;
    border-radius: 40px;
}
.hidden-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.layover-row span {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 8px 11px;
    padding-left: 0;
    margin: 10px 0;
    display: inline-block;
}
.hidden-details-block {
    font-size: 13px;
}
/*---=== end of Side-Pop-Up ===---*/


/*---=== Review-Ticket-Page ===---*/
.review-content-side {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    margin-top: 50px;
}

.ticket-summary-block {
    padding: 30px 20px;
    border: 1px solid #EDEDED;
    background-color: #F9F9F9;
    border-radius: 20px;
}
.tsb-top-side {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(29, 18, 90, 0.2);
}
button.upgrade-btn {
    background: white !important;
    width: 160px;
    height: 40px;
    font-size: 14px;
    font-family: var(--font-smbold);
    border-radius: 20px;
    border: 1px solid #D0D5DD;
    cursor: pointer;
}
.ticket-price-summary-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}
.price-summary-block > div.psb {
    border-bottom: 1px solid rgba(29, 18, 90, 0.2);
}
.price-summary-block, .free-cancellation-block {
    max-width: 370px;
    width: 100%;
    border: 1px solid #EDEDED;
    background-color: #F9F9F9;
    border-radius: 20px;
}
.price-summary-block {
    padding: 10px 0 20px;
}
.free-cancellation-block {
    padding: 30px 20px;
}
.price-summary-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 5px 0;
}
button.summary-checkout-btn {
    width: 100%;
    height: 42px;
    background: var(--pry-color);
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-family: var(--font-smbold);
    cursor: pointer;
}

@media(max-width: 992px) {
    .review-content-side {
        grid-template-columns: 100%;
        gap: 10px;
    }
}
/*---=== end of Review-Ticket-Page ===---*/

/*---=== Flight-Side-Pop-Up ===---*/
.selected-flight-box {
    border: 1px solid #EDEDED;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
}
.selected-flight-box small {
    font-size: 12px;
    margin-bottom: 4px;
    display: inline-block;
}
ul.flight-seat-tabs-wrapper {
    margin: 40px 0 30px;
    font-size: 16px;
    gap: 5px;
    border-bottom: 1px solid rgba(29, 18, 90, 0.2);
}
ul.flight-seat-tabs-wrapper > li {
    padding: 10px 15px 10px 0;
    cursor: pointer;
}
ul.flight-seat-tabs-wrapper > li.active {
    color: var(--pry-color);
    border-bottom: 1px solid var(--pry-color);
}
.seat-price-wrapper {
    padding: 10px 30px;
    background-color: #F9F9F9;
    border-radius: 40px;
    margin: 30px 0;
}
.upgrade-seat-btn {
    font-size: 14px;
    font-family: var(--font-smbold);
    background: var(--pry-color);
    padding: 12px 50px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
/*---=== end of Flight-Side-Pop-Up ===---*/

/*---=== Flight-Checkout-Page ===---*/
.ticket-summary-side .grid-div-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 50px;
}
.ticket-summary-block input#phone-field {
    border: none;
    height: auto;
    outline: none;
    box-shadow: none;
}
sup.required-sign {
    color: #D44333;
}
input.checkout-inp-field,
.ticket-summary-block .select-wrapper input.select-dropdown {
    border: 1px solid #EDEDED !important;
    outline: none !important;
    box-shadow: none !important;
    background: white !important;
    padding: 0 14px !important;
    height: 44px !important;
    border-radius: 8px !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    font-size: 16px !important;
}
.radio-main-label {
    font-size: .8rem;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #9e9e9e;
}
.vue-tel-input {
    height: 44px !important;
    align-items: center !important;
    box-shadow: none !important;
    border-radius: 8px !important;
    background: white !important;
    border-color: #EDEDED !important;
    font-size: 16px !important;
}
.vue-tel-input input {
    margin: 0 !important;
}
.datepicker-field-div.checkout-inp-field-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
}
.ticket-summary-block .ant-picker {
    height: 44px;
    box-shadow: none !important;
    border: 1px solid #EDEDED !important;
}
.ticket-summary-block .ant-picker-input input {
    margin: 0;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}
input#phone-field.vti__input {
    font-size: 16px;
}
.ticket-summary-block .select-field svg.caret-icon {
    position: absolute;
    bottom: 11px;
    right: 12px;
    z-index: 10;
}
.ticket-summary-block .select-field svg.caret-icon path {
    fill: var(--pry-color);
}
.ticket-summary-block .select-wrapper+label {
    position: relative;
}
.tsb-seats-wrapper {
    margin-top: 30px;
    padding-top: 12px;
    border-top: 1px solid rgba(29, 18, 90, 0.2);
}
.ticket-summary-block ol.list-decimal, 
.ticket-summary-block ul.list-disc {
    padding-left: 20px;
}
.ticket-summary-block ol.list-decimal li {
    list-style-type: decimal;
}
.ticket-summary-block ul.list-disc li {
    list-style-type: disc;
}
.ticket-summary-block [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    border: 1px solid #5a5a5a !important;
    background: white;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    top: 5px;
}
.ticket-summary-block [type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 5px;
    border-radius: 4px;
}
.ticket-summary-block [type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 5px;
}
button.complete-booking-btn {
    width: 100%;
    background: var(--pry-color);
    height: 48px;
    border-radius: 8px;
    color: white;
    font-family: var(--font-smbold);
    font-size: 16px;
}
[type="checkbox"]#agree-to-terms+span:not(.lever) {
    font-size: 14px;
}
.tpsss-block {
    color: #848484;
    background-color: #F9F9F9;
    border: 1px solid #EDEDED;
    padding: 15px 20px 10px;
    border-radius: 20px;
    font-size: 14px;
    word-spacing: -1px;
}
.tpss-block-header {
    border-bottom: 1px solid rgba(29, 18, 90, 0.2);
}
.tpss-block-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tpss-block-header, .tpss-block-body, .tpss-block-footer {
    padding: 10px 0;
}
.tpss-title {
    font-size: 24px;
    color: #606161;
    letter-spacing: -1px;
    word-spacing: normal;
}
.tpss-footer-total {
    border-top: 1px solid rgba(29, 18, 90, 0.2);
    padding-top: 10px;
    margin-top: 15px;
}
/*---=== end of Flight-Checkout-Page ===---*/


/*---=== Hotel-Ticket-Overview-Page ===---*/
.hotel-ticket-img-wrapper {
    width: 180px;
    max-width: 180px;
    min-height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.hotel-ticket-img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.ticket-name {
    color: #606161;
    font-size: 26px;
    font-family: var(--font-smbold);
    line-height: 26px;
}
.flex-div.no-wrap {
    flex-wrap: nowrap;
}
.bb-label {
    font-size: 12px;
    color: #1C472F;
    background-color: #DAF0E3;
    width: 40px;
    text-align: center;
    padding: 0.5px 0;
    border-radius: 20px;
}
.rating-stars-wrapper {
    border: 1px solid rgba(63, 46, 177, 0.1);
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    width: max-content;
    margin: 8px 0;
}
.vtbw-vertical {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
button.view-ticket-btn.pry-btn {
    background: var(--pry-color);
}
.view-ticket-btn-wrapper button.view-ticket-btn.sec-btn {
    background: transparent;
    color: #141414;
    border: 1px solid;
    font-size: 14px;
    font-family: var(--font-smbold);
}
#sort-hotels .ticket-amount-wrapper {
    position: relative;
    left: auto;
    transform: none;
    bottom: 0;
    margin: 20px auto;
}
/*---=== end of Hotel-Ticket-Overview Page ===---*/

/*---=== Transfers-Ticket-Overview Page ===---*/
#sort-transfers .transfers-ticket-img-wrapper {
    width: 130px;
}
#sort-transfers .ticket-overview-content {
    margin: 25px 0;
}
button.ticket-details-btn.flex-div {
    color: white;
    background: var(--pry-color);
    width: 225px;
    height: 58px;
    justify-content: center;
    border-radius: 10px;
    margin: 16px 20px;
}
#sort-transfers .tc-row-wrapper {
    padding: 15px 26px 14px 20px;
}
#sort-transfers .ticket-amount-wrapper {
    bottom: 10%;
}
/*---=== end of Transfers-Ticket-Overview Page ===---*/

/*---=== Tours-Side-Popup Page ===---*/
.tickets-wrapper.cart-wrapper {
    display: block;
}
.tickets-wrapper.cart-wrapper .tickets-top-side {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 700px;
    overflow: auto;
}
.ticket-items-block.cart-block {
    border: 1px solid #CCEDEB;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
/*---=== end of Tours-Side-Popup Page ===---*/

/*---=== end of Search-Results Section ===---*/