section#trip-inspiration {
    padding: 50px 0 30px;
}
#trip-inspiration .section-header {
    margin-bottom: 56px;
}
#trip-inspiration .section-header-txts {
    max-width: 810px;
}
#trip-inspiration .section-title {
    max-width: 620px;
    line-height: 64px;
    margin-bottom: 7px;
}
button.customise-package-btn {
    width: 248px;
    justify-content: center;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--pry-color);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-size: 18px;
    gap: 12px;
    font-weight: 600;
    position: relative;
    top: -10px;
}
.trip-card {
    background-color: var(--pry-color);
    padding: 0;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    color: #E5F6F5;
}
.trip-image-div {
    width: 100%;
    height: 240px;
}
.trip-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
h3.trip-title {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.64px;
    font-family: var(--font);
    font-weight: 400;
    margin: 0 auto 10px;
}
p.trip-price {
    font-size: 24px;
    font-weight: 600;
}
.trip-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.trip-tags .tag {
    position: relative;
}
.trip-tags .tag:not(:last-child):before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    top: 50%;
    bottom: 50%;
    right: -13px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
}
.custom-nav-icon {
    position: absolute;
    top: 50%;
    z-index: 1;
    fill: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(12px);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.custom-prev {
    left: -20px;
}
.custom-next {
    right: -20px;
}

@media(max-width: 992px) {
    .section-header.flex {
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width: 600px) {
    #trip-inspiration h2.section-title {
        font-size: 52px;
        line-height: 54px;
    }
}
